/*---Main---*/

h2 {
    text-decoration: underline;
}

iframe {
    margin: auto;
    padding: auto;
    flex-direction: column;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}